<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @position.title %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @position.startDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @position.endDate %>
</p>

<h2>Responsibilities</h2>
<% @responsibilities.each do |responsibility| %>
	<h3><%= responsibility.description %></h3>
<% end %>

<%= render 'responsibilities/form' %> 

