<p id="notice"><%= notice %></p>

<h1>Listing Employments</h1>


<% @employments.each do |employment| %>
  <div>
    <span><%= employment.name %></span>
    <span><%= employment.startDate %></span>
    <span><%= employment.endDate %></span>
    <span><%= employment.address %></span>
    <span><%= employment.phone %></span>
    <span><%= link_to 'Show', employment %></span>
    <span><%= link_to 'Edit', edit_employment_path(employment) %></span>
    <span><%= link_to 'Destroy', employment, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>  
<% end %>

<%= link_to 'New Employment', new_employment_path %>
