<div class='left'>
    <p id="notice"><%= notice %></p>

    <div class='listContainer'>
    
        <div class='listTitle'>
            <p>WORK HISTORY</p>
        </div>


        <% @employments.each do |employment| %>
          <div class='lists'>
            <%= link_to employment.name, employment, class: "label" %>
            <%= link_to 'delete', employment, method: :delete, data: { confirm: 'Are you sure?' }, class: "button workhistory" %>
            <%= link_to 'Edit', edit_employment_path(employment), class: "button workhistory" %>
            
            <hr>
          </div>  
        <% end %>
    </div>
</div>

<div class='right'>
    <div class='workhistory'><%= link_to 'NEW EMPLOYMENT', new_employment_path %></div>
