<p id="notice"><%= notice %></p>

<h1>Listing Languages</h1>
<% @languages.each do |language| %>
  <div>
    <span><%= language.language %></span>
    <span> - <%= language.fluency %></span>
    <span> | <%= link_to 'Edit', edit_language_path(language) %></span>
  </div>
<% end %>

<%= link_to 'New Language', new_language_path %>
