

<div class='left'>
    <p id="notice"><%= notice %></p>

    <div class='listContainer'>
    
    	<div class='listTitle'>
			<p>LANGUAGES</p>
		</div>

			<% @languages.each do |language| %>
			  <div class='lists'>
			    <div><%= link_to language.language, language %></div>
			<!--     <span> - <%= language.fluency %></span> -->
			    <div class='languages'><%= link_to 'Edit', edit_language_path(language) %></div>
			    <div class='languages'><%= link_to 'delete', language, method: :delete, data: { confirm: 'Are you sure?' } %></div>
			  	<hr>
			  </div>
			<% end %>
		</div>
</div>

<div class='right'>
	<div class='languages'><%= link_to 'NEW LANGUAGE', new_language_path %></div>
</div>
