<div class='center'>
  	<div class='formContainer'>
		<div class='listTitle'>
			<p><%= @skilltype.name %><%= link_to 'Edit', edit_skilltype_path(@skilltype), class: "button skilltypes" %></p>
		</div>
		<div class='lists'>
			<div class='info'>

				<% @skills.each do |skill| %>
					<p class='subList'><%= skill.name %><a class="button skilltypes" href="/skilltypes/<%= @skilltype.id %>/skills/<%= skill.id %>/edit">EDIT</a></p>
				<% end %>

				<%= render 'skills/form' %>
			</div>
		</div>
	</div>
</div>