<div class='center'>
  	<div class='formContainer'>
		<div class='listTitle'>
			<p><%= @degree.name %><%= link_to 'Edit', edit_degree_path(@degree), class: "button education" %></p>
		</div>
		<div class='lists'>
			<div class='info'>
				<p>
				  <strong>Level:</strong>
				  <%= @degree.level %>
				</p>

				<p>
				  <strong>Completed:</strong>
				  <%= @degree.completed %>
				</p>

				<p>
				  <strong>Education:</strong>
				  <%= @degree.education %>
				</p>
			</div>
		</div>
	</div>
</div>
