

<div class='left'>
    <p id="notice"><%= notice %></p>

    <div class='listContainer'>
    
    	<div class='listTitle'>
				<p>INTERESTS</p>
			</div>

			<% @interests.each do |interest| %>
		  <div class='lists'>
		  	<%= link_to interest.name, interest, class: "label" %>
		  	<%= link_to 'delete', interest, method: :delete, data: { confirm: 'Are you sure?' }, class:" button interests" %>
		    <%= link_to 'Edit', edit_interest_path(interest), class: "button interests" %>
			
				<hr>
			</div>
			<% end %>
		</div>
</div>

<div class='right'>
	<div class='interests'><%= link_to 'NEW INTEREST', new_interest_path %></div>
</div>

