<p id="notice"><%= notice %></p>

<h1>Listing Educations</h1>

<% @educations.each do |education| %>
  <div>
    <span><%= education.name %></span>
    <span><%= education.startDate %></span>
    <span><%= education.endDate %></span>
    <span><%= education.gpa %></span>
    <span><%= link_to 'Show', education %></span>
    <span><%= link_to 'Edit', edit_education_path(education) %></span>
  </div>  
<% end %>

<%= link_to 'New Education', new_education_path %>
