

<div class='left'>
	<p id="notice"><%= notice %></p>
	
	<div class='listContainer'>
		
		<div class='listTitle'>
			<p>MY EDUCATIONS</p>
		</div>

		<% @educations.each do |education| %>
		  <div class='lists'>
		    <%= link_to education.name, education, class: "label" %>
		    <%= link_to 'delete', education, method: :delete, data: { confirm: 'Are you sure?' }, class: "education button" %>
		    <%= link_to 'EDIT', edit_education_path(education), class: "education button" %>
			<hr>		    
		  </div> 
		<% end %>
	</div>
</div>


<div class='right'>
	<div class='education'><%= link_to 'NEW EDUCATION', new_education_path %></div>
</div>

