<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @education.name %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @education.startDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @education.endDate %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @education.gpa %>
</p>



<%= link_to 'Edit', edit_education_path(@education) %>



<h2>Degrees</h2>
<% @degrees.each do |degree| %>
    <span><%= degree.level %><% if degree.completed %> - completed<% end %> | <a href="/education/<%= @education.id %>/degree/<%= degree.id %>/edit">edit</a></span>
<% end %>


<%= render 'degrees/form' %> 