<div class="form-wrapper">
  
  <%= form_for(@resume) do |f| %>
    <% if @resume.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this resume from being saved:</h2>

        <ul>
        <% @resume.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, "Resume Name" %><br>
      <%= f.text_field :name %>
    </div>
    
    <%= f.hidden_field :user_id, :value => current_user.id%>
    <div class='listTitle'>
      <p>education</p>
    </div>
    <div>
      <% @educations.each_with_index do | education, index | %>
        <div class="listItem">
          <h2>
            <%=check_box("education", index)%>
            <%= education.name %>
          </h2>
        </div>
        

        <% education.degrees.each_with_index do | degree, degreeIndex | %>
          <div class="listItem">
          
            <h3><%=check_box("education", "degree", {:multiple => true}, degreeIndex )%><%= degree.level %></h3>
          </div>
          
        <% end %>
      <% end %>
    </div>
    
    <div class='listTitle'>
      <p>employment</p>
    </div>
    <div>
      <% @employments.each_with_index do | employment, index | %>
        <div class="listItem">
          <h2><%=check_box("resume", "employment", {:multiple => true}, index)%><%= employment.name %></h2>  
        </div>
        <% employment.positions.each_with_index do | position, positionIndex | %>
          <div class="listItem">
            <h3><%=check_box("employment", "position", {:multiple => true}, index, nil )%><%= position.title %></h3>
          </div>
          <div class="list">
            <% position.responsibilities.each do | responsiblity | %>
              <div class="listItem"><h4><%= responsiblity.description%></h4></div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class='listTitle'>
      <p>skills</p>
    </div>
    <div>
      <% @skilltypes.each_with_index do | skilltype, index | %>
        <h2><%= skilltype.name %></h2>
        <% skilltype.skills.each do | skill | %>
          <h3><%= skill.name %></h3>
        <% end %>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
