<!DOCTYPE html>
<html>
<head>
  <title>resumix.me</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="clearfix">
	
	<% if current_user %>

		<div class="header clearfix">
			<div href="/" class="logoNav">
				<a href="/">
					<img src="/assets/resumix_logo.svg" alt="">
				</a>
			</div>		
			<div class="greeting">
				<!-- get the user name from the current_user in the session -->
				<p>Hi, <%= current_user.fname %> </p>
				<a href="/profile">YOUR PROFILE</a>

			</div>
			<a href="/logout">logout</a>
		</div>

		<div class="tabs">
			<ul>
			  <li><a href="/skilltypes">skill types</a></li>
			  <li><a href="/employments">work history</a></li>
			  <li><a href="/educations">education</a></li>
			  <li><a href="/languages">languages</a></li>
			  <li><a href="/interests">Interests</a></li>
			</ul>
		</div>
		

	<% end %>

	<div class="content-wrapper">
		<%= yield %>		
	</div>

	<footer class="footer">
	<p>&copy;resumix.me 2016.</p>
	</footer>

</body>
</html>
